@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Book
<div class="card-body">
    <h4 class="card-title">Basic form elements</h4>
    <p class="card-description">
        Basic form elements
    </p>
    <form class="forms-sample" asp-action="Create" enctype="multipart/form-data">
        <div class="form-group">

            <label asp-for="Name" asp-action="Index"></label>
            <input asp-for="Name" class="form-control" placeholder="Name">
            <span asp-validation-for="Name"></span>

        </div>


        <div class="form-group">

            <label asp-for="AuthorId" asp-action="Index">Author</label>
            <select  asp-for="AuthorId" class="form-control" asp-items="@(new SelectList(ViewBag.Authors,nameof(Author.Id),nameof(Author.FullName)))"></select>
            <span asp-validation-for="AuthorId"></span>

        </div>

        <div class="form-group">
            <label asp-for="GenreId" asp-action="Index"></label>
            <select asp-for="GenreId" class="form-control" asp-items="@(new SelectList(ViewBag.Genres,nameof(Genre.Id),nameof(Genre.Name)))"></select>
            <span asp-validation-for="GenreId"></span>

        </div>
        <div class="form-group">
            <label asp-for="MainFile" asp-action="Index"></label>
            <input asp-for="MainFile" class="form-control" placeholder="Image">
            <span asp-validation-for="MainFile"></span>

        </div>
        <div class="form-group">
            <label asp-for="Rate" asp-action="Index"></label>
            <input asp-for="Rate" class="form-control" placeholder="Rate ">
            <span asp-validation-for="Rate"></span>

        </div>
        <div class="form-group">
            <label asp-for="IsAviable" asp-action="Index"></label>
            <input asp-for="IsAviable" class="form-control" placeholder="IsAviable ">
            <span asp-validation-for="IsAviable"></span>

        </div>
        <div class="form-group">
            <label asp-for="Price" asp-action="Index"></label>
            <input asp-for="Price" class="form-control" placeholder="Price ">
            <span asp-validation-for="Price"></span>

        </div>

        <div class="form-group">
            <label asp-for="DiscountPrice" asp-action="Index"></label>
            <input asp-for="DiscountPrice" class="form-control" placeholder="DiscountPrice ">
            <span asp-validation-for="DiscountPrice"></span>

        </div>

        <div class="form-group">
            <label asp-for="PageCount" asp-action="Index"></label>
            <input asp-for="PageCount" class="form-control" placeholder="PageCount ">
            <span asp-validation-for="PageCount"></span>

        </div>

        <div class="form-group">

            <label asp-for="Description" asp-action="Index"></label>
            <input asp-for="Description" class="form-control" placeholder="Description">
            <span asp-validation-for="Description"></span>

        </div>


        <button type="submit" class="btn btn-primary mr-2">Submit</button>
        <button class="btn btn-light">Cancel</button>
    </form>
</div>
